.card {
    background-color: $color-white;
    border: 1px solid $color-dark;
    border-radius: 12px;
    padding: 32px 24px;
    text-align: left;
    transition: all 0.3s ease;
    cursor: pointer;
    transition: transform 0.3s ease, 
    background-color 0.3s ease, 
    filter 0.3s ease;

    .card-icon {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background-color: $color-round;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 48px;
        height: 48px;
        object-fit: contain;
		    transition: fill 0.3s ease;
		    color: $color-accent-blue;
      }
    }
    
    h3, h4 {
      font-size: $font-size-lg;
      font-weight: $font-weight-semibold;
      margin-top: 16px;
      margin-bottom: 8px;
      color: $color-dark;
    }

    p {
      font-size: $font-size-sm;
      color: $color-gray;
    }

    &--active {
      background-color: $color-active-card;
      color: $color-white;

      h3, h4, p {
        color: $color-white;
      }
    }

    &:hover {
      transform: translateY(-4px);
      background-color: $color-active-card;
      border: 1px solid transparent;
      
      h3, h4, p {
        color: $color-white;
      }

      .card-icon {
        background-color: $color-white;

        svg {
          color: $color-cta-blue;
        }
      }
    }
}
